@layer base{
  h1{
    @apply text-3xl text-white font-bold;
  }
  h2{
    @apply text-2xl text-white font-bold;
  }
  h3{
    @apply text-xl text-white font-medium;
  }
  h4{
    @apply text-lg text-white font-medium;
  }
}