@layer components{
  .btn{
    @apply px-4 py-2 rounded-lg bg-amber-500 text-black cursor-pointer hover:bg-[rgba(219,132,0,1)]
  }
  .btn-icon{
    @apply flex items-center gap-2 p-2 rounded-lg bg-amber-500 text-black cursor-pointer hover:bg-[rgba(219,132,0,1)]
  }
  .nav-link{
    @apply h-full flex items-center px-4
  }
}