@layer components{
  .btn{
    @apply px-4 py-2 rounded-lg bg-amber-500 text-black cursor-pointer hover:bg-[rgba(219,132,0,1)]
  }
  .btn-icon{
    @apply flex items-center gap-2 p-2 rounded-lg bg-amber-500 text-black cursor-pointer hover:bg-[rgba(219,132,0,1)]
  }
  .nav-link{
    @apply h-full flex items-center px-4
  }
  .side-bar{
    @apply w-64 h-[calc(100vh-4rem)] bg-orange-700 fixed left-0 top-16
  }
  .normal-nav-link{
    @apply h-full hover:bg-[rgba(54,54,54,0.8)]
  }
  .active-nav-link{
    @apply h-full font-bold bg-[rgba(54,54,54,0.8)]
  }
  .normal-prod-link{
    @apply block p-4 hover:bg-[rgba(54,54,54,0.8)] border-y-2
  }
  .active-prod-link{
    @apply block p-4 font-bold bg-[rgba(54,54,54,0.8)] border-y-2
  }
  .form-field{
    @apply w-1/3 bg-neutral-800 border-2 border-gray-500 rounded-lg p-2
  }
}